#header{
    // background-color: rgba(0, 0, 0, 0.788);
    // background-image: url(./image/header-bg.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.603), rgba(0, 0, 0, 0.493)), url(./image/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 60vh;
    position: relative;
    .content{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
    }
}

#ChooseUs{
    img{
        width: 100%;
        height: 350px;
    }
}

#reviews{
    img{
        width: 80px;
        height:80px;
        border-radius: 50%;
    }
}