* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
  }
  nav{
    background: hsla(248, 100%, 2%, 0.5);
  }

   .border{
    border-radius: 10px;
    padding: 2px;
    outline: none;
    margin: 1.5px;

   }
  
  
  #myVideo {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  min-height: 100%;
  min-width:100%;
  object-fit: cover;
    
  }
  .anim { 
    bottom: 0;
    background: hsla(246, 43%, 18%, 0.5);
    color: #ffffff;
    width: 100%;
    height: 100vh;
    padding: 150px 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }
  .anim h4{
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px rgb(235, 12, 23);
    
}
.anim h2{
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px rgb(228, 11, 11);
   
}
/*  */
.form_edit{
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin: 100px 150px;
  border-radius: 1rem;
  
}

@media only screen and (max-width: 600px) {
  .form_edit{
    display: none;
  }
}

.form_edit h3{
  font-size:2rem;
  color: #ffffff;
}
.flex{
  display: flex;
  padding:15px;
}
.form_edit input {
  margin: 10px 15px;
  color: #fff;
  background-color:transparent;
}
.form_edit .btn{
  background-color: aqua;
}

/*  */


.change_contentone:after{
    content: '';
    animation: changetextone 10s infinite linear;

}

@keyframes changetextone {
    
    0%{content:"Amazing Places";} 
    50%{content:"Feel Free To Travel";}
    100%{content:"Trip For Your Kids";}
   

    
}
.change_content_two:after{
    content: '';
    animation: changetext 10s infinite linear;

}

@keyframes changetext {
    
    0%{content:"Explore Your Life Travel Where You Want";} 
    50%{content:"Make you Free to travel with us";}
    100%{content:"Sensation Ice Trip is Coming For Kidsr";}
   

    
}

 /* Boxes */
 .boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
  color: #fff;
  background: #312f38;
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);;
}

 /* Info */
 .info {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem;
}
img{
  width: 100%;
}

 /* Media Queries */
 @media (max-width: 700px) {
  .info {
    grid-template-columns: 1fr;
  }

  .info .btn {
    display: block;
    text-align: center;
    margin: auto;
  }
 }

 /*  */
 .show {
  display: block;
}
 .fa-solid {
  color: orange;
 }

 .card{
  margin: 0 10px;
 }

 .card-body p{
  color: rgb(138, 124, 124);
 }
 .card-body hr{
  color: rgb(95, 83, 83);
 }


 .top_deal {
  /* The image used */
  background-image: url('https://images.pexels.com/photos/414144/pexels-photo-414144.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');

  /* Full height */
  height: auto; 
  

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }

 @media only screen and (max-width: 600px) {
  .top_deal{
    height: 145vh;
  }
}

 .carousel-control-prev-icn{
  color: orange;
 }
 
 /* fav destination */
 #favourite-destination .card {
  background-color: antiquewhite;
 }
 /* sweper js */

 html,
      body {
        position: relative;
        height: 100%;
      }

      .home_s_card{
        font-size: 12px;

      }